<!-- edit_register.html -->
<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Editar Usuário</title>

  <!-- REFERENCIA CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome.css') }}" />

  <!-- REFERENCIA JS -->
  <script src="{{ url_for('scripts', filename='jQuery.js') }}"></script>
  <script src="{{ url_for('scripts', filename='popper.js') }}"></script>
  <script src="{{ url_for('scripts', filename='bootstrap.min.js') }}"></script>
  <script src="{{ url_for('scripts', filename='cep.js') }}"></script>
  <script src="{{ url_for('scripts', filename='font-awesome.js') }}"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><i class="fas fa-user-edit"></i> Editar Usuário</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

  <div class="container mt-5">
    <div class="card">
      <div class="card-header text-center">
        <h2>Editar Colaborador</h2>
      </div>
      <div class="card-body">
        <form id="editForm" action="{{ url_for('edit_register', user_id=user[0]) }}" method="post">
          <!-- Informações de Login -->
          <fieldset>
            <legend>Informações de Login</legend>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="email">E-mail:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                  </div>
                  <input type="email" id="email" name="email" class="form-control" value="{{ user[2] }}" required />
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="senha">Senha:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                  </div>
                  <input type="password" id="senha" name="senha" class="form-control" value="{{ user[3] }}" required />
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                      <i class="fas fa-eye"></i>
                      <script src="{{ url_for('scripts', filename='togglePassword.js') }}"></script>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <!-- Dados Pessoais -->
          <fieldset>
            <legend>Dados Pessoais</legend>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="cpf">CPF:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                  </div>
                  <input type="text" id="cpf" name="cpf" class="form-control" value="{{ user[1] }}" required />
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="nome">Nome:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                  </div>
                  <input type="text" id="nome" name="nome" class="form-control" value="{{ user[4] }}" />
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="sobrenome">Sobrenome:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                  </div>
                  <input type="text" id="sobrenome" name="sobrenome" class="form-control" value="{{ user[5] }}" />
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="nascimento">Nascimento:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                  </div>
                  <input type="date" id="nascimento" name="nascimento" class="form-control" value="{{ user[6] }}" />
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="rg">RG:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                  </div>
                  <input type="text" id="rg" name="rg" class="form-control" value="{{ user[7] }}" />
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="sexo">Sexo:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-venus-mars"></i></span>
                  </div>
                  <select id="sexo" name="sexo" class="form-control">
                    <option value="0" {% if user[8] == '0' %}selected{% endif %}>Selecione</option>
                    <option value="M" {% if user[8] == 'M' %}selected{% endif %}>Masculino</option>
                    <option value="F" {% if user[8] == 'F' %}selected{% endif %}>Feminino</option>
                  </select>
                </div>
              </div>
            </div>
          </fieldset>
          <!-- Endereço -->
          <fieldset>
            <legend>Endereço</legend>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="cep">CEP:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                  </div>
                  <input type="text" id="cep" name="cep" class="form-control" maxlength="9"
                    onkeyup="handleZipCode(event)" onblur="pesquisacep(this.value);" value="{{ user[9] }}" required />
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="endereco">Endereço:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                  </div>
                  <input type="text" id="endereco" name="endereco" class="form-control" value="{{ user[10] }}" />
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="numero">Número:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-hashtag"></i></span>
                  </div>
                  <input type="text" id="numero" name="numero" class="form-control" value="{{ user[11] }}" />
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="bairro">Bairro:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                  </div>
                  <input type="text" id="bairro" name="bairro" class="form-control" value="{{ user[12] }}" />
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="complemento">Complemento:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                  </div>
                  <input type="text" id="complemento" name="complemento" class="form-control" value="{{ user[13] }}" />
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="cidade">Cidade:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                  </div>
                  <input type="text" id="cidade" name="cidade" class="form-control" value="{{ user[14] }}" />
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="estado">Estado:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                  </div>
                  <input type="text" id="estado" name="estado" class="form-control" value="{{ user[15] }}" />
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="celular">Celular:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-phone"></i></span>
                  </div>
                  <input type="text" id="celular" name="celular" class="form-control" value="{{ user[16] }}" />
                </div>
              </div>
            </div>
          </fieldset>
          <!-- Status e Observações -->
          <fieldset>
            <legend>Status e Observações</legend>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="status">Status:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user-check"></i></span>
                  </div>
                  <select id="status" name="status" class="form-control">
                    <option value="0" {% if user[17] == '0' %}selected{% endif %}>Selecione</option>
                    <option value="Ativo" {% if user[17] == 'Ativo' %}selected{% endif %}>Ativo</option>
                    <option value="Inativo" {% if user[17] == 'Inativo' %}selected{% endif %}>Inativo</option>
                  </select>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="obs">Observações:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-sticky-note"></i></span>
                  </div>
                  <textarea id="obs" name="obs" class="form-control">{{ user[18] }}</textarea>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="text-center mt-4">
            <button type="submit" class="btn btn-success">Salvar Alterações</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="{{ url_for('scripts', filename='confirmSave.js') }}"></script>
</body>

</html>