<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cadastro de Usuário</title>

  <!-- REFERENCIA CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome.css') }}" />

  <!-- REFERENCIA JS -->
  <script src="{{ url_for('scripts', filename='jQuery.js') }}"></script>
  <script src="{{ url_for('scripts', filename='popper.js') }}"></script>
  <script src="{{ url_for('scripts', filename='bootstrap.min.js') }}"></script>
  <script src="{{ url_for('scripts', filename='cep.js') }}"></script>
  <script src="{{ url_for('scripts', filename='font-awesome.js') }}"></script>
  <script src="{{ url_for('scripts', filename='togglePassword.js') }}"></script>
  <script src="{{ url_for('scripts', filename='horario_trabalho.js') }}"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><i class="fas fa-user-plus"></i> Cadastro</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}"><i class="fa fa-sign-out-alt"></i> Logout</a>
          </li>
      </ul>
  </div>
  </nav>

  <div class="container mt-5">
    <div class="card">
      <div class="card-header text-center">
        <h2>Cadastro de Colaborador</h2>
      </div>
      <div class="card-body">
        <form action="{{ url_for('register') }}" method="post">
          <!-- Informações de Login -->
          <fieldset>
            <legend>Informações de Login</legend>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="email">E-mail:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                  </div>
                  <input type="email" id="email" name="email" class="form-control" required
                    placeholder="seuemail@dominio.com" />
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="senha">Senha:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                  </div>
                  <input type="password" id="senha" name="senha" class="form-control" required
                    placeholder="Digite sua senha" />
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                      <i class="fas fa-eye"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
          <!-- Dados Pessoais -->
          <fieldset>
            <legend>Dados Pessoais</legend>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="cpf">CPF:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                  </div>
                  <input type="text" id="cpf" name="cpf" class="form-control" required
                    pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" placeholder="000.000.000-00" />
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="nome">Nome:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                  </div>
                  <input type="text" id="nome" name="nome" class="form-control" placeholder="Digite seu nome" />
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="sobrenome">Sobrenome:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                  </div>
                  <input type="text" id="sobrenome" name="sobrenome" class="form-control"
                    placeholder="Digite seu sobrenome" />
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="nascimento">Nascimento:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                  </div>
                  <input type="date" id="nascimento" name="nascimento" class="form-control" required />
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="rg">RG:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                  </div>
                  <input type="text" id="rg" name="rg" class="form-control" placeholder="Digite seu RG" />
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="sexo">Sexo:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-venus-mars"></i></span>
                  </div>
                  <select id="sexo" name="sexo" class="form-control">
                    <option value="0">Selecione</option>
                    <option value="M">Masculino</option>
                    <option value="F">Feminino</option>
                  </select>
                </div>
              </div>
            </div>
          </fieldset>
          <!-- Endereço -->
          <fieldset>
            <legend>Endereço</legend>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="cep">CEP:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                  </div>
                  <input type="text" id="cep" name="cep" class="form-control" maxlength="9"
                    onkeyup="handleZipCode(event)" onblur="pesquisacep(this.value);" required placeholder="00000-000" />
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="endereco">Endereço:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                  </div>
                  <input type="text" id="endereco" name="endereco" class="form-control"
                    placeholder="Digite seu endereço" />
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="numero">Número:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-hashtag"></i></span>
                  </div>
                  <input type="text" id="numero" name="numero" class="form-control" placeholder="Digite o número" />
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="bairro">Bairro:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                  </div>
                  <input type="text" id="bairro" name="bairro" class="form-control" placeholder="Digite o bairro" />
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="cidade">Cidade:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-city"></i></span>
                  </div>
                  <input type="text" id="cidade" name="cidade" class="form-control" placeholder="Digite a cidade" />
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="estado">Estado:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                  </div>
                  <input type="text" id="estado" name="estado" class="form-control" placeholder="Digite o estado" />
                </div>
              </div>
            </div>
          </fieldset>
          <!-- Horário de Trabalho -->
          <fieldset>
            <legend>Horário de Trabalho</legend>
            <table class="table">
              <thead>
                <tr>
                  <th>Trabalhar?</th>
                  <th>Dia da Semana</th>
                  <th>Entrada</th>
                  <th>Saída</th>
                  <th>Intervalo (minutos)</th>
                  <th>Carga Horária</th>
                </tr>
              </thead>
              <tbody>
                {% for dia in ["Domingo", "Segunda-feira", "Terça-feira", "Quarta-feira", "Quinta-feira", "Sexta-feira", "Sábado"] %}
                <tr>
                  <td>
                    <input type="checkbox" class="form-check-input" id="trabalhar_{{ loop.index }}"
                      name="trabalhar_{{ loop.index }}">
                  </td>
                  <td>{{ dia }}</td>
                  <td>
                    <input type="time" class="form-control" id="entrada_{{ loop.index }}"
                      name="entrada_{{ loop.index }}">
                  </td>
                  <td>
                    <input type="time" class="form-control" id="saida_{{ loop.index }}" name="saida_{{ loop.index }}">
                  </td>
                  <td>
                    <input type="number" class="form-control" id="intervalo_{{ loop.index }}"
                      name="intervalo_{{ loop.index }}">
                  </td>
                  <td>
                    <span id="carga_horaria_{{ loop.index }}">0</span> horas
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <h3>Total de horas trabalhadas na semana: <span id="totalHoras">0</span> horas</h3>
          </fieldset>
          <!-- Botões de Ação -->
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
            <button type="reset" class="btn btn-secondary">Limpar</button>
            <a href="{{ url_for('admin') }}" class="btn btn-secondary">Voltar</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>